[submodule "External/crazyflie_cpp"]
	path = External/crazyflie_cpp
	url = https://github.com/benkuper/crazyflie_cpp
[submodule "Modules/juce_organicui"]
	path = Modules/juce_organicui
	url = https://github.com/benkuper/juce_organicui
