[Desktop Entry]
Name=LaMoucheFolle
Exec=LaMoucheFolle
Icon=lamouchefolle
Type=Application
Categories=AudioVideo;Art;
Comment=Cross Platform OSC Server for controlling a swarm of Crazyflies 2.0
MimeType=text/lamouchefolle;
Name[en]=LaMoucheFolle
Terminal=false
StartupNotify=true
NoDisplay=false
Name[en_US]=lamouchefolle.desktop
